

@import "~startbootstrap-sb-admin/scss/_variables.scss";

$sticky-footer-height: 35px;
@import "~startbootstrap-sb-admin/scss/_mixins.scss";
@import "~startbootstrap-sb-admin/scss/_global.scss";
@import "~startbootstrap-sb-admin/scss/_utilities.scss";
@import "~startbootstrap-sb-admin/scss/_navbar.scss";
@import "~startbootstrap-sb-admin/scss/_cards.scss";
@import "~startbootstrap-sb-admin/scss/_login.scss";
@import "~startbootstrap-sb-admin/scss/_footer.scss";

:root {
    --input-padding-x: 0.5rem;
    --input-padding-y: 0.5rem;
}